@charset "utf-8";

#main_header{}
#main_gnb_wrap{background: #0044af;width: 100%;height: 40px;display: block;}
#main_gnb{height: 40px;width: 1200px;position: relative;margin: 0 auto;}
#main_gnb ul:after{content: "";display: block;clear: both}
#main_gnb li{float: left;}
#main_gnb img{display: block;width: 60px;padding:12px;float: right;margin-right: 260px}
.right{position: absolute;right: 0;}
.right li{line-height: 40px;}
.right a{font-size: 12px;display: block;color: white;text-align: center;width: 80px;}
.right a:hover{color: #000;font-weight: bold;}
.right li:first-child{margin-right: 60px}
.left{position: absolute;left: 0;}
.left li{width: 120px;background: #00163b;}
.left a{display: block;line-height: 40px;text-align: center;color: white;font-size: 16px}
.left a:hover{color: #00163b;background: #fff;font-weight: bold;}

#sub_gnb_wrap{height: 120px;width: 1200px;margin:0 auto;position: relative;}
.title{display: block;width: 220px;position: absolute;left: 0;padding: 15px;}
.toggle{display: block;position: absolute;right: 0;width: 100px;margin-top: 35px}
#sub_gnb{position: absolute;right: 120px;}
#sub_gnb ul:after{content: "";display: block;clear: both}
#sub_gnb li{float: left;width: 120px;line-height: 120px;text-align: center;}
#sub_gnb a{font-size: 20px;color: #00163b}
#sub_gnb a:hover{border-bottom: 2px solid #0044af;color: #0044af;}

#bg{background-image: url(../images-u/bg.png);background-size: cover;height: 1300px;}

.bg_text{width: 1200px;margin:0 auto;height: 250px;padding: 60px;padding-left: 0;
	position: relative;box-sizing: border-box;}
.bg_text p{font-size: 40px;color: white;}
.bg_text h1{font-size: 60px;color: white;}
.bg_plus:after{content: "";display: block;clear: both;}
.bg_plus{position: absolute;right: 0;top: 60px;}
.bg_plus li{float: left;color: white;padding: 10px;text-align: center;}
.bg_plus img{display: block;width: 85px;}
.bg_plus li:hover{background: gray;}

.bg_wrap{width: 1200px;margin:0 auto;position: relative;height: 450px;}
.bg_wrap .wrap{width: 75%}
.bg_right{width: 25%;position: absolute;top: 0;right: 0;}

.bg_row{width: 1200px;margin:0 auto;height: 225px;background: #000;}
.bg_row:after{content: "";display: block;clear: both;}
.bg_4{width: 25%;float: left;color: white;}
.bg_4 .one{width: 300px;background: #00163b;}
.bg_4 .two{width: 300px;background: #1651b7;}
.bg_4 .three{width: 300px;background: #fff;}
.bg_4 .four{width: 300px;}
