@charset "uff-8";

#header_wrap{height: 88px;width: 100%;background: #076fa6;}
.header{background: url(../images-h/air.png) no-repeat;margin: 0 auto;width: 1600px;
position: relative;}
.header img{position: absolute;left: 100px;}
.htext{position: absolute;left: 300px;}
.htext p{font-size: 13px;color: #6c6d6e;}
.htext span{font-size: 14px;color: #152630;font-weight: bold;}
.sns{}